<lasso-page package-path="./browser.json" flags=['skin-ds' + data.flag]/>
<!DOCTYPE html>
<html lang="en">
    <head>
        <lasso-head/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    </head>
    <body>
        <page-body flag=data.flag />
        <lasso-body/>
        <init-widgets/>
        <browser-refresh/>
    </body>
</html>