<div w-bind class=[data.class, 'flexible-dialog', 'ebay-dialog-footer'] has-action-buttons=data.hasActionButtons>
    <div class='ebay-dialog-footer--wrapper' >
        <div class='ebay-ebay-dialog-flexible--actions' w-body />
    </div>
</div>  